.DS_Store

go.sum
.golangci.yml
bin/**
.github/

.env
.markdownlint.yaml

*_test.go
test_*

AGENTS.md
CODANNA.md
GOLANG.md
GODOC.md
LSP.md

.claude/
.codex/
.qoder/
.mcp.json
.codanna/**
.codannaignore
# link to global
.fastembed_cache

run_*.sh
run_format.sh
run_lint.sh
run_tests.sh
