.DS_Store

bin/**

!go.sum

.env
.markdownlint.yaml

AGENTS.md
CODANNA.md
GOLANG.md
GODOC.md
LSP.md

.claude/
.codex/
.qoder/
.mcp.json
.codanna/**
.codannaignore
# link to global
.fastembed_cache

run_*.sh
!run_release.sh
run_format.sh
run_lint.sh
run_tests.sh
